* {
    margin: 0;
    border: 0;
    padding: 0;
}

@font-face {
    font-family: navegacao1;
    src: url(../Fontes/Coustard/Coustard-Regular.ttf);
}

@font-face {
    font-family: navegacao2;
    src: url(../Fontes/Coustard/Coustard-Black.ttf);
}

@font-face {
    font-family: titulo;
    src: url(../Fontes/Sriracha/Sriracha-Regular.ttf);
}

@font-face {
    font-family: texto;
    src: url(../Fontes/Molengo/Molengo-Regular.ttf);
}

@font-face {
    font-family: subtitulo;
    src: url(../Fontes/Prosto_One/ProstoOne-Regular.ttf);
}

@font-face {
    font-family: enviar;
    src: url(../Fontes/Pridi/Pridi-SemiBold.ttf);
}

body {
    position: relative;
    background-color: #0d0d0d;
    color: #fff;
}

main {
    position: relative;
    width: 100%;
    height: auto;
}

header {
    position: relative;
    width: 100%;
    height: 7vw;
    background-image: url(../Imagens/HEADER.png);
    background-size: cover;
}

#nav1 {
    position: relative;
    width: 100%;
    height: 5vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#nw1 {
    position: relative;
    width: 91px;
    height: 53px;
    right: 65%;
    bottom: 2vw;
}

#login {
    position: relative;
    left: 60%;
    bottom: 1vw;
}

header a {
    position: relative;
    height: 0;
    font-family: navegacao1;
    font-size: 15px;
    color: #fff;
    text-decoration: none;
    top: 3vw;
}

#talk {
    font-family: navegacao2;
}

#meio {
    position: relative;
    width: 85%;
    margin: auto;
    top: 10vw;
}

article {
    text-align: center;
    margin-top: 5vw;
}

article h1 {
    font-size: 55px;
    font-family: titulo;
    color: rgba(255, 198, 53, 1);
}

#texto1{
    position: relative;
    font-size: 25px;
    font-family: texto;
    margin-top: 5vw;
}

article h2 {
    position: relative;
    font-size: 40px;
    font-family: subtitulo;
    color: #66C938;
}

#formulario {
    position: relative;
    width: 100%;
    height: 35vw;
    margin: auto;
    top: 5vw;
    background-color: #696969;
    border-left: 3px solid rgba(59, 91, 235, 1);
    border-right: 3px solid rgba(59, 91, 235, 1);
    border-bottom: 3px solid rgba(59, 91, 235, 1);
}

#formulario p {
    border-top: 3px solid rgba(59, 91, 235, 1);
    letter-spacing: 0.05em;
    text-indent: 20px;
    font-family: texto;
}

div p {
    position: relative;
    text-align: left;
}

#enviar{
    position: relative;
    width: 12%;
    height: 46px;
    background-color: rgba(204, 132, 132, 1);
    float: right;
    text-align: center;
    text-decoration: none;
    top: 9vw;
    border-radius: 5px;
}

#enviar a {
    position: relative;
    font-family: enviar;
    font-size: 20px;
    top: 0.5vw;
    text-decoration: none;
    color:  rgba(0, 0, 0, 1);
}

#enviar:hover{
    background-color: rgb(246, 163, 163);;
}

#carta{
    position: absolute;
    z-index: 1;
    bottom: 28vw;
    right: 98%;
}

#betty{
    position: absolute;
    z-index: 1;
    bottom: 0px; ;
    right: 0px;
}

#privacidade{
    margin-top: 32vw;
}

footer {
    position: relative;
    width: 100%;
    height: 11vw;
    top: 20vw;
    background-color: #0e0a1d;
}

#img2 {
    position: relative;
    height: 0;
    margin-left: 3%;
    padding-top: 4%;
}

#nw2 {
    position: relative;
    width: 95px;
    height: 57px;
}

#linhavertical {
    position: absolute;
    height: 10vw;
    border: 1px solid #f5d5d5;
    bottom: 0.5vw;
    left: 13%;
    opacity: 50%;
}

#nav2 {
    position: absolute;
    width: 11%;
    height: 9.5vw;
    display: grid;
    margin-left: 15%;
    bottom: 0;
}

footer a {
    position: relative;
    height: 0;
    font-family: navegacao1;
    font-size: 15px;
    color: #fff;
    text-decoration: none;
}

#copyright {
    position: relative;
    text-align: center;
    font-size: 12px;
    font-family: navegacao1;
    top: 5vw;
}

#titulo2 {
    position: relative;
    font-size: 20px;
    width: 11%;
    bottom: 2vw;
    left: 85.5%;
}

#socialmedia1 {
    width: auto;
    height: 0;
    display: flex;
    margin-left: 85%;
}

.socialmedia2 {
    position: relative;
    width: 40px;
    height: 40px;
    background-color: #fff;
    border-radius: 25px;
}

#socialmedia1 a {
    position: relative;
    margin-left: 5%;
}

