*{
    margin: 0;
    padding: 0;
    border: 0;
}

@font-face {
    font-family: "labelle";
    src: url(/fontes/La\ Belle\ Aurore.ttf);
}

@font-face {
    font-family: 'market';
    src: url(/fontes/Market_Deco.ttf);
}

@font-face {
    font-family: 'Molengo';
    src: url(/fontes/Molengo-Regular.ttf);
}

@font-face {
    font-family: 'navegacao1';
    src: url(/fontes/Coustard-Regular.ttf);
}

@font-face {
    font-family: 'navegacao2';
    src: url(/fontes/Coustard-Black.ttf);
}

/*Inicio programação desktop*/

main{
    background-color: #0D0D0D;
    width: 100%;
    height: auto;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 134.4px;
}

#logohead{
    width: 110px;
    margin-left: 5%;
}

#headleft{
    display: flex;
    width: 75%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#headleft nav{
    width: 400px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

header nav a{
    text-decoration: none;
    color: white;

}

#headright{
    display: flex;
    flex-direction: row;
    justify-content: space-around; 
    width: 500px;
}
#lupa{
    display: none;
}

#menu{
    filter: invert(100%);
    display: none;
}

#sobre{
    position: relative;
    width: 63%;
    text-align: center;
    color: white;
    margin: auto;
    margin-top: 100px;
    display: flex;
    flex-direction: row;
}

#sobre img{
    position: absolute;
    width: 40%;
    right: 88%;
    top: -140px;
}

#sobre h1{
    color: #EFEDE6;
    font-size: 90px;
    margin-bottom: 100px;
    font-family:'market' ;
    text-shadow: 0px 4px 30px #FFD702;
}

#sobre p{
    font-size: 35px;
    font-family:'Molengo', sans-serif;
    text-align: left;
    
}

#missao{
    position: relative;
    color: white;
    width: 45%;
    margin-top: 200px;
    margin-bottom: 250px;    
    display: flex;
    flex-direction: row;
}

#missao img{
    position: absolute;
    width: 122%;
}

#missao h2{
    font-size: 60px;
    margin-bottom: 20px;
    font-family:'labelle';
    color: #f00;
    text-shadow: 0px 4px 25px #FF0000;
    margin-left: 9%;
}

#missao p{
    font-size: 40px;
    margin-left: 9%;
    font-family: 'Molengo', sans-serif;
    text-align: left;
}

#valores{
    position: relative;
    color: white;
    width: 100%;
    margin-top: 350px;
    display: flex;
    flex-direction: row-reverse;
}

#valores img{
    position: absolute;
    width: 43%;

}

#valores h2{
    font-size: 60px;
    margin-bottom: 20px;
    margin-left: 50%;
    font-family:'labelle';
    color: #f00;
    text-shadow: 0px 4px 25px #FF0000;
}

#valores p{
    font-size: 40px;
    margin-left: 50%;
    font-family: 'Molengo', sans-serif;
    text-align: left;
}
 
#visao{
    position: relative;
    color: white;
    width: 45%;
    margin-top: 400px;
    text-align: left;
    display: flex;
    flex-direction: row;
}

#visao img{
    position: absolute;
    width: 122%;
    margin-top: -240px;
}

#visao h2{
    font-size: 60px;
    margin-bottom: 20px;
    font-family:'labelle';
    color: #f00;
    text-shadow: 0px 4px 25px #FF0000;
    margin-left: 9%;
}

#visao p{
    font-size: 40px;
    margin-left: 9%;
    font-family: 'Molengo', sans-serif;
    text-align: left;
}

#equipe{
    position: relative;
    color: white;
    width: 90%;
    margin-top: 300px;
    margin-left: 70px;
    text-align: center;
    display: flex;
    flex-direction: row-reverse;
}

#equipe h2{
    font-size: 60px;
    margin-bottom: 20px;
    font-family:'labelle';
    color: #f00;
    text-shadow: 0px 4px 25px #FF0000;

}

#equipe p{
    font-size: 30px;
    font-family: 'Molengo', sans-serif;
    text-align: left; 
}

#logo img{
    position: relative;
    margin-right: 130px;
    margin-bottom: 20px;
}

#logo h3{
    color: white;
    text-align: left;
    margin-left: 17%;
    font-family: 'market';
    font-size: 35px;
    margin-bottom: 0px;
    
}

footer{
    width: 100%;
    height: 150px;
    background-color: #0e0a1d;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: 'navegacao1';
  }
  
  #footleft{
    display: flex;
    flex-direction: row;
  }
  
  #imagem{
    height: 100%;
    width: 150px;;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  #footleft nav{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-left: 1px solid white;
  }
  
  #footleft nav a{
    text-decoration: none;
    color: white;
    margin-left: 10px;
  }
  
  #footright{
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  #copyright{
    color: white;
    margin-top: 125px;
  }
  
  #redes{
    height: 100%;
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  #redes p{
    color: white;
    text-align: center;
    margin-bottom: 20px;
  }

/*Final da programação desktop*/

/*Visualização smartphone*/

@media only screen and (max-width:480px){
    main{
        width: 100%;
    }

    #sobre{
        margin-left: 7%;
        text-align: left;
        margin-top: 100px;
    }

    #sobre h1{
        font-size: 80px;
        margin-bottom: 60px;
    }

    #missao{
        margin-left: 2%;
        margin-top: 90px;
        text-align: left;
    }

    #valores{
        right: 43%;
        top: -200px;
    }

    #visao{
        margin-left: 2%;
        top: -370px;
    }

    #equipe{
        margin: auto;
        top: -220px;
        margin-bottom: -150px;
    }

    #visao img, #sobre img, #missao img, #equipe img, #valores img, #logo h3{
        display: none;
    }

}
/*Fim da visualização smartphone*/

/*Inicio da visualização tablet*/

@media only screen and (min-width:481px){
    @media only screen and (max-width:720px)
    {
        #visao img, #sobre img, #missao img, #equipe img, #valores img, #logo h3{
            display: none;
        }

        #missao{
            width: 70%;
        }

        #valores{
            width: 140%;
            right: 250px;
            margin-top: 10px;
        }

        #visao{
            margin-top: 280px;
            width: 70%;
        }

        #equipe{
            margin: auto;
            margin-top: 270px;
        }

    }
}

/*Fim da visualização tablet*/

/*Visualização header*/

@media only screen and (max-width: 786px){
    #avatar, #headright{
        display: none;
    }

    #menu{
        display: block;
    }
}

@media only screen and (max-width: 480px){
    header{
        justify-content: space-between;
    }
    #lupa{
        display: block;
        margin-right: 30px;
        width: 50px;
    }

    #headleft nav{
        display: none;
    }
}

/*Fim visualização header*/

/*Visualização footer*/

@media only screen and (max-width: 768px){
    footer{
      height: auto;
      flex-direction: column;
      align-items: center;
      margin-top: 100px;
    }
  
    #footleft{
      flex-direction: column;
      width: 100%;
      border-bottom: 1px solid white;
      justify-content: center;
      align-items: center;
    }
  
    #footleft nav{
      border-left: none;
      height: 150px;
      text-align: center;
    }
  
    #footleft nav a{
      margin: 15px 0;
    }
  
    
    #footright{
      flex-direction: column-reverse;
      align-items: center;
      width: auto;
    }
  
    #redes{
      margin-top: 15px;
      margin-bottom: 15px;
    }
  
  #redes div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 150px;
  }
    
    #copyright{
      margin: 0px;
    }
  }

  /*Fim visualização footer*/
     



